body {
  font-weight: sans-serif;
}

.Calculator {
  margin: 10px;
  border: 1px solid #000;
  min-width: 850px;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.Debts {
  border-right: 1px solid #000;
  min-width: 200px;
  width: 33%;
  display: flex;
  flex-direction: column;
}

.DebtList {
  list-style-type: none;
  height: 100%;
}

.DebtList h2 {
  color: orange;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.DebtListItem {
  overflow: auto;
  padding: 5px;
}

.DebtListItem dt {
  float: left;
  clear: left;
  font-weight: bold;
  width: 120px;
}

.ResultsPane {
  min-width: 650px;
  padding: 10px;
}

.Graph {
  width: 600px;
  height: 300px;
  background: orange;
}

.DebtListItem dd {
  float: left;
}